apiVersion: v1
kind: Secret

metadata:
  name: backend-secret

type: Opaque
stringData:
  SPRING_DATASOURCE_URL: jdbc:mysql://mysql-service:3306/hangeul_chat?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
  SPRING_DATASOURCE_USERNAME: hangeul_user
  SPRING_DATASOURCE_PASSWORD: 
  SPRING_DATA_REDIS_HOST: redis-service
  SPRING_DATA_REDIS_PORT: "6379"
  SPRING_MAIN_LAZY_INITIALIZATION: "true"
  SPRING_DATASOURCE_HIKARI_INITIALIZATION_FAIL_TIMEOUT: "60000"
